<?xml version="1.0"?>
<!--
/**
 * Yireo SalesBlock2 for Magento
 *
 * @package     Yireo_SalesBlock2
 * @author      Yireo (https://www.yireo.com/)
 * @copyright   Copyright 2017 Yireo (https://www.yireo.com/)
 * @license     Open Source License (OSL v3)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Sales::sales">
                    <resource id="Yireo_SalesBlock2::overview" title="Sales Block Overview" translate="title" sortOrder="10" />
                    <resource id="Yireo_SalesBlock2::rules" title="Sales Block Rules" translate="title" sortOrder="10" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
