<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <salesblock>
            <settings>
                <enabled>1</enabled>
                <logging>0</logging>
                <destroy_cart>0</destroy_cart>
            </settings>
        </salesblock>
    </default>
</config>
