<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Yireo SalesBlock2 for Magento
 *
 * @package     Yireo_SalesBlock2
 * @author      Yireo (https://www.yireo.com/)
 * @copyright   Copyright 2017 Yireo (https://www.yireo.com/)
 * @license     Open Source License (OSL v3)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:/Event/etc/events.xsd">
    <!--
    <event name="controller_action_predispatch">
        <observer name="yireo_salesblock2_prevent_cart_actions" instance="Yireo\SalesBlock2\Observer\PreventCartActions"/>
    </event>
    -->
    <event name="salesblock_rule_match_after">
        <observer name="yireo_salesblock2_rule_match_log" instance="Yireo\SalesBlock2\Observer\RuleMatch"/>
    </event>
</config>