<?xml version="1.0"?>
<!--
/**
 * Yireo SalesBlock2 for Magento
 *
 * @package     Yireo_SalesBlock2
 * @author      Yireo (https://www.yireo.com/)
 * @copyright   Copyright 2017 Yireo (https://www.yireo.com/)
 * @license     Open Source License (OSL v3)
 *
 * @todo: Make sure resource is set to Yireo_SalesBlock2::rules
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Yireo_SalesBlock2::sales_advanced" title="Advanced" translate="title" module="Yireo_SalesBlock2" sortOrder="10" parent="Magento_Sales::sales" resource="Yireo_SalesBlock2::sales_advanced" />
        <add id="Yireo_SalesBlock2::rules" title="Sales Block Rules" translate="title" module="Yireo_SalesBlock2" parent="Yireo_SalesBlock2::sales_advanced" sortOrder="10" resource="Yireo_SalesBlock2::rules" action="salesblock/rule/index"/>
    </menu>
</config>
